<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lanches</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lanches</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-card>
  <ion-card-header>
    <ion-card-title>Lanches do Mundo!</ion-card-title>
    <ion-card-subtitle>Acompanha batata frita</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>        
    <ion-item expand="block" (click)="setOpen(true)" lines="none">
              <ion-thumbnail slot="start">
                <img alt="Gyro Burger" src="https://media.discordapp.net/attachments/1060989219432054835/1112855075581341747/77699d85-330e-4e1b-855d-3f855f5869a5.jpg?width=60&height=60" />
              </ion-thumbnail>
              <ion-label>Gyro Burger</ion-label><ion-button>R$19.90</ion-button>
              <ion-modal [isOpen]="isModalOpen">
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-title>Gyro Burger</ion-title>
                      <ion-buttons slot="end">
                        <ion-button (click)="setOpen(false)">Fechar</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding">
                    <img alt="Gyro Burger" src="https://media.discordapp.net/attachments/1060989219432054835/1112855075581341747/77699d85-330e-4e1b-855d-3f855f5869a5.jpg?width=350&height=350" />
                    <p>
                      Um hambúrguer de cordeiro temperado, grelhado e servido em um pão pita macio. Acompanhado de tzatziki (molho de iogurte com pepino), tomate, cebola roxa e folhas de alface.
                    </p>
                    <ion-button>Adicionar por R$19.90</ion-button>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-item>

            <ion-item expand="block" (click)="setOpen2(true)" lines="none">
              <ion-thumbnail slot="start">
                <img alt="Taco Burger" src="https://media.discordapp.net/attachments/1060989219432054835/1112855541115531284/63253fd6-c2ff-4ae0-a72f-db3222e69343.jpg?width=60&height=60" />
              </ion-thumbnail>
              <ion-label>Taco Burger</ion-label><ion-button>R$21.90</ion-button>
              <ion-modal [isOpen]="isModalOpen2">
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-title>Taco Burger</ion-title>
                      <ion-buttons slot="end">
                        <ion-button (click)="setOpen2(false)">Fechar</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding">
                    <img alt="Taco Burger" src="https://media.discordapp.net/attachments/1060989219432054835/1112855541115531284/63253fd6-c2ff-4ae0-a72f-db3222e69343.jpg?width=350&height=350" />
                    <p>
                      Um hambúrguer de carne temperada com especiarias mexicanas, coberto com queijo cheddar derretido, guacamole, salsa fresca e nachos crocantes. Tudo isso dentro de um pão de hambúrguer.
                    </p>
                    <ion-button>Adicionar por R$21.90</ion-button>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-item>
            <ion-item expand="block" (click)="setOpen3(true)" lines="none">
              <ion-thumbnail slot="start">
                <img alt="Thai Chicken Burger" src="https://i.imgur.com/yhnYeJJ.png" />
              </ion-thumbnail>
              <ion-label>Thai Chicken Burger</ion-label><ion-button>R$22.90</ion-button>
              <ion-modal [isOpen]="isModalOpen3">
                <ng-template>
                  <ion-header>
                    <ion-toolbar>
                      <ion-title>Thai Chicken Burger</ion-title>
                      <ion-buttons slot="end">
                        <ion-button (click)="setOpen3(false)">Fechar</ion-button>
                      </ion-buttons>
                    </ion-toolbar>
                  </ion-header>
                  <ion-content class="ion-padding">
                    <img alt="Thai Chicken Burger" src="https://i.imgur.com/PU3hOGT.jpg" />
                    <p>
                      Um hambúrguer de frango marinado em uma mistura de temperos tailandeses, grelhado e coberto com molho de amendoim, fatias de pepino fresco, coentro e pimenta vermelha. Servido em um pão de brioche.
                    </p>
                    <ion-button>Adicionar por R$22.90</ion-button>
                  </ion-content>
                </ng-template>
              </ion-modal>
            </ion-item>
          <ion-item expand="block" (click)="setOpen4(true)" lines="none">
            <ion-thumbnail slot="start">
              <img alt="Masala Burger" src="https://i.imgur.com/Pqn3j5p.png" />
            </ion-thumbnail>
            <ion-label>Masala Burger</ion-label><ion-button>R$22.90</ion-button>
            <ion-modal [isOpen]="isModalOpen4">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>Masala Burger</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="setOpen4(false)">Fechar</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <img alt="Masala Burger" src="https://i.imgur.com/DFfqWss.png" />
                  <p>
                    Um hambúrguer de carne bovina temperado com masala indiana, grelhado e coberto com queijo gouda derretido, cebola caramelizada, chutney de manga e raita (molho de iogurte com hortelã). Servido em um pão de hambúrguer.
                  </p>
                  <ion-button>Adicionar por R$22.90</ion-button>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-item>
          <ion-item expand="block" (click)="setOpen5(true)" lines="none">
            <ion-thumbnail slot="start">
              <img alt="Caprese Burger" src="https://i.imgur.com/7aAzGvw.png" />
            </ion-thumbnail>
            <ion-label>Caprese Burger</ion-label><ion-button>R$22.90</ion-button>
            <ion-modal [isOpen]="isModalOpen5">
              <ng-template>
                <ion-header>
                  <ion-toolbar>
                    <ion-title>Masala Burger</ion-title>
                    <ion-buttons slot="end">
                      <ion-button (click)="setOpen5(false)">Fechar</ion-button>
                    </ion-buttons>
                  </ion-toolbar>
                </ion-header>
                <ion-content class="ion-padding">
                  <img alt="Caprese Burger" src="https://i.imgur.com/ALhiGQO.png"/>
                  <p>
                    Um hambúrguer de carne grelhado, coberto com muçarela fresca, tomate fatiado, manjericão fresco e regado com um molho de balsâmico reduzido. Servido em um pão ciabatta.
                  </p>
                  <ion-button>Adicionar por R$25.90</ion-button>
                </ion-content>
              </ng-template>
            </ion-modal>
          </ion-item>
    </ion-list>    
  </ion-card-content>
  </ion-card>
</ion-content>
