<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Festival Mediterrâneo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Festival Mediterrâneo</ion-title>
    </ion-toolbar>
  </ion-header>
  <br>
  <div class="imageContainer1"><img alt="Refeição Mediterrânea" src="https://media.discordapp.net/attachments/1060989219432054835/1112832869103046707/df8d1a25-e263-45d5-bbb3-a4228c9d1234.jpg?width=350&height=350" /></div>
<div class="cardContainer">
  <ion-card>
    <ion-card-header>
      <div class="imageContainer2"><img alt="Bruschetta de tomate e manjericão" src="https://media.discordapp.net/attachments/1060989219432054835/1112837229228871770/ab1fb7f1-4397-45d2-83ec-417b88b2d8d9.jpg?width=60&height=60" /></div>
      <ion-card-title>Entrada</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Bruschetta de tomate e manjericão fresco com azeite de oliva extravirgem e queijo parmesão ralado.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <div class="imageContainer2"><img alt="Risoto de camarão ao molho de limão-siciliano" src="https://media.discordapp.net/attachments/1060989219432054835/1112832869103046707/df8d1a25-e263-45d5-bbb3-a4228c9d1234.jpg?width=60&height=60" /></div>
      <ion-card-title>Prato Principal</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Risoto de camarão ao molho de limão-siciliano e raspas de laranja, finalizado com folhas de manjericão fresco.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <div class="imageContainer2"><img alt="Tiramisù clássico italiano" src="https://media.discordapp.net/attachments/1060989219432054835/1112838638833770639/d0878792-29a5-448c-8c69-060f996a8e82.jpg?width=60&height=60" /></div>
      <ion-card-title>Sobremesa</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Tiramisù clássico italiano, com camadas de biscoitos champanhe embebidos em café, creme de mascarpone e cacau em pó polvilhado por cima.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <div class="imageContainer2"><img alt="Coca Cola" src="https://media.discordapp.net/attachments/1060989219432054835/1112839066782793828/c6142c87-68a3-4a60-b493-dafb11c05812.jpg?width=60&height=60" /></div>
      <ion-card-title>Bebida</ion-card-title>
    </ion-card-header>
    <ion-card-content> 
      Coca Cola
    </ion-card-content>
  </ion-card>
  <ion-button (click)="go2()">Voltar</ion-button>
  <ion-button>Adicionar R$39,90</ion-button>
</div>
</ion-content>
